-# if @ca.any? would raise an error for those actions for which I don't reload current_announcements
- unless current_announcements.blank?
  -# the following redundancy on announcements depends on devise
  -# which prepends the path and the convention doesn't work anymore
  = render :partial => '/announcements/announcement', :collection => current_announcements
  = link_to 'hide', hide_current_announcements_path, :remote => true
