- if user_signed_in?
  #current-user-note
    = form_tag update_current_user_note_path, :method => :put, :remote => true do
      = text_field_tag :current_user_note, current_user.note, :placeholder => 'personal notes'
      = submit_tag 'ok'
