- title_content @user.to_s

.field
  .label about
  .value #{@user.about}

.avatar= prettyphoto_tag @user.avatar_url(:thumb), @user.avatar_url, @user
  

- content_for :footer_nav_content do
  = link_to 'edit', [:edit, @user]
