$body-margin: 5px;

body { margin: $body-margin; }

#flash-messages {

  text-align: center;
  height: 1em;
  margin-bottom: 1em;

  #flash-notice { color: green; }
  #flash-alert  { color: orange; }
}
