
body { margin: $small-space; }

#announcements {
  text-align: center;
  font-style: oblique;
  color: green;
}

#flash-messages {
  text-align: center;
  height: 1em;
  margin-bottom: 1em;

  #flash-notice { color: green; }
  #flash-alert  { color: orange; }
}

#container {
  width: 98%;
  margin: 1em auto;
  background-color: $container-bg-color;
  padding: 0.5em;
  @include rounded-corners(10px, 0);
  @include shadow;
}

