#sessions_controller, #registrations_controller {

  @import 'forms.css.scss';

  #container {
    width: 485px;

    h2, label, a {
      text-align: center;
      display:    block;
    }

    input, span {
      display: block;
      margin:  0 auto;
    }
  }

}
