// this file is for _fixed partial only,
// which means only for elements which are fixed positioned on the page
// and inside #fixed

#fixed {

  #log-links {
    position: fixed;
    right: $small-space;
    top: $small-space;
  
    a {
      float: right;
      margin-left: 1em;
    }
  }
  
}
