// this file is for _fixed partial only,
// which means only for elements which are fixed positioned on the page
// and inside #fixed

#fixed {

  nav#control_panel {
    position: fixed;
    right: $small-space;
    top: $small-space;

    a, em {
      display: block;
      text-align: right;
    }

  }
  
}
