// this file is for styling forms only

//////////////////////// show fields


.label { font-weight: bold; }


//////////////////////// input fields

label {
  border: 1px solid red; // TODO: not working

  font-weight: bold; }

textarea {
  height:  10em;
  width:   30em; // which is the same a input 15em
  padding: 0 $small-space;
}

input, textarea  { font-style: oblique; }

input {
  width:      15em;
  text-align: center;
}


////////////////////////// error messages


.field_with_error {
  padding:          1px;
  background-color: red;
  display:          table;
}

.error_explanation {
  @include rounded-corners(2px, 2px);
  text-align:       center;
  margin:           0 auto;
  color:            darkred;
  width:            450px;
  border:           2px solid red;
  padding:          0.5em;
  padding-bottom:   0;
  background-color: #f0f0f0;

  h2 {
    font-weight:      bold;
    padding:          5px 5px 5px 15px;
    font-size:        12px;
    margin:           -7px;
    margin-bottom:    0px;
    background-color: #c00;
    color:            #fff;
  }

  ul li {
    font-size:  12px;
    list-style: square;
  }
}
