// the layer above reset, to store element customizations,
// not for classes or ids, except these four very general on top

.todo { border: red 1px dashed; }

.test{ border: 1px solid red; }

.clear { clear: both; }

.hidden { display: none; }

body {color: white; background: black;}

textarea { height: 5em; }

input, textarea  {
  width: 15em;
  font-style: oblique;
}

label { font-weight: bold; }

strong{ font-weight: bolder; }

em {
  font-weight: bolder;
  color: $em-text-color;
  @include text-shadow($em-shadow-color);
}


/* hn n odd -> center aligned */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2 { font-size: 3em; }

h3, h4 { font-size: 2em; }

h5, h6 { font-size: 1.5em; }

h1, h3, h5 {
  text-align: center;
  margin: 0.5em 0;
}

h4, h6 { margin: 0.5em 0 0 0; }

