= text_field_tag :date, Date.today, :class => 'datepicker'










// leave this =================================================================

- if params[:test]
  :javascript
    alert(#{params[:test]});
