-# tags in this partial are all ment to be absolute positioned set in css

- if current_user
  You are signed in as #{current_user.email}, Not you?
  = link_to 'logout', logout_path
- else
  = link_to 'login', login_path
  = link_to 'signup', signup_path
