-# tags in this partial are all ment to be fix-positioned in the page

#log-links
  - if current_user
    %div{:class => session[:has_just_auth] ? 'blink-once' : nil}
      .blink-once
        %em= current_user.email
    = link_to 'logout', logout_path
  - else
    = link_to 'login', login_path
    = link_to 'signup', signup_path
